:root {
  --black: #353535;
  --red: #D46A6A;
  --green: #55AA55;
  --yellow: #F1E845;
  --blue: #485492;
  --magenta: #72408F;
  --cyan: #28B8BF;
  --white: #e6e6e6;
  --black-1: #0c141f;
  --red-1: #FFAAAA;
  --green-1: #88CC88;
  --yellow-1: #FFF871;
  --blue-1: #6F79AE;
  --magenta-1: #9168AB;
  --cyan-1: #4EC5CB;
  --white-1: #e6ffff;

  --bg: var(--black);
  --fg: var(--white);
  --border-color: #CCCCCC;
  --border-color-dark: #AAAAAA;
  --link-color: var(--yellow);

  --card-padding: 0.75rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --black: #353535;
    --red: #D46A6A;
    --green: #55AA55;
    --yellow: #F1E845;
    --blue: #485492;
    --magenta: #72408F;
    --cyan: #28B8BF;
    --white: #e6e6e6;
    --black-1: #0c141f;
    --red-1: #FFAAAA;
    --green-1: #88CC88;
    --yellow-1: #FFF871;
    --blue-1: #6F79AE;
    --magenta-1: #9168AB;
    --cyan-1: #4EC5CB;
    --white-1: #e6ffff;

    --bg: var(--white);
    --fg: var(--black);
    --border-color: #CCCCCC;
    --border-color-dark: #AAAAAA;
    --link-color: var(--blue);
  }
}

.color-1  { background-color: var(--black); --feat-color: var(--black); }
.color-2  { background-color: var(--red); --feat-color: var(--red); }
.color-3  { background-color: var(--green); --feat-color: var(--green); }
.color-4  { background-color: var(--yellow); color: var(--black-1); ; --feat-color: var(--yellow); }
.color-5  { background-color: var(--blue); --feat-color: var(--blue); }
.color-6  { background-color: var(--magenta); --feat-color: var(--magenta); }
.color-7  { background-color: var(--cyan); --feat-color: var(--cyan); }
.color-8  { background-color: var(--white); --feat-color: var(--white); }
.color-9  { background-color: var(--black-1); --feat-color: var(--black-1); }
.color-10 { background-color: var(--red-1); --feat-color: var(--red-1); }
.color-11 { background-color: var(--green-1); --feat-color: var(--green-1); }
.color-12 { background-color: var(--yellow-1); color: var(--black); --feat-color: var(--yellow-1); }
.color-13 { background-color: var(--blue-1); --feat-color: var(--blue-1); }
.color-14 { background-color: var(--magenta-1); --feat-color: var(--magenta-1); }
.color-15 { background-color: var(--cyan-1); --feat-color: var(--cyan-1); }
.color-16 { background-color: var(--white-1); --feat-color: var(--white-1); }

.my-0 { margin-top: 0 !important; margin-bottom: 0 !important; }
.my-1 { margin-top: 0.25rem !important; margin-bottom: 0.25rem !important; }
.my-2 { margin-top: 0.5rem !important; margin-bottom: 0.5rem !important; }
.my-3 { margin-top: 0.75rem !important; margin-bottom: 0.75rem !important; }
.my-4 { margin-top: 1rem !important; margin-bottom: 1rem !important; }
.mx-0 { margin-left: 0 !important; margin-right: 0 !important; }
.mx-1 { margin-left: 0.25rem !important; margin-right: 0.25rem !important; }
.mx-2 { margin-left: 0.5rem !important; margin-right: 0.5rem !important; }
.mx-3 { margin-left: 0.75rem !important; margin-right: 0.75rem !important; }
.mx-4 { margin-left: 1rem !important; margin-right: 1rem !important; }

.mt-0 { margin-top: 0 !important; }
.mt-1 { margin-top: 0.25rem !important; }
.mt-2 { margin-top: 0.5rem !important; }
.mt-3 { margin-top: 0.75rem !important; }
.mt-4 { margin-top: 1rem !important; }
.mr-0 { margin-right: 0 !important; }
.mr-1 { margin-right: 0.25rem !important; }
.mr-2 { margin-right: 0.5rem !important; }
.mr-3 { margin-right: 0.75rem !important; }
.mr-4 { margin-right: 1rem !important; }
.mb-0 { margin-bottom: 0 !important; }
.mb-1 { margin-bottom: 0.25rem !important; }
.mb-2 { margin-bottom: 0.5rem !important; }
.mb-3 { margin-bottom: 0.75rem !important; }
.mb-4 { margin-bottom: 1rem !important; }
.ml-0 { margin-left: 0 !important; }
.ml-1 { margin-left: 0.25rem !important; }
.ml-2 { margin-left: 0.5rem !important; }
.ml-3 { margin-left: 0.75rem !important; }
.ml-4 { margin-left: 1rem !important; }

body {
  background: var(--bg);
  color: var(--fg);
  font: normal 16px/20px sans-serif;
  margin: 2rem auto;
  max-width: 80vw;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.25rem 0 0.5rem;
}

h2, .h2 { font-size: 1.25rem; font-weight: 600; }
h3, .h3 { font-size: 1.125rem; font-weight: 600; }

a,
a:visited {
  color: var(--link-color, blue);
}

ul {
  padding-left: 0.5rem;
}

dt { font-style: italic; }
dt:not(:first-child) { padding-top: 1rem; border-top: 3px dotted var(--border-color); }
dd { margin-top: 0.5rem; margin-bottom: 1rem; }

.card {
  padding: var(--card-padding);
  border-radius: 6px;
  border: 1px solid var(--border-color-dark);
}

.card footer, .card .actions {
  padding-top: var(--card-padding);
  border-top: 1px solid var(--border-color);
}

task-list,
.task-list,
task-category,
.task-category,
task-category-form,
.task-category-form {
  display: block;
}

#log_messages {
  overflow-x: scroll;
}

nav ul li {
  list-style-type: none;
  border: 1px solid var(--link-color);
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.5rem;
}
nav ul li:not(:last-child) {
  margin-right: 1.75rem;
}
nav ul li a {
  text-decoration: none;
}

input:focus,
input:focus-visible,
select:focus,
select:focus-visible {
  outline: none;
}

/* set font size so safari does NOT zoom */
input,
input[type="tel"],
input[type="url"],
input[type="date"],
input[type="text"],
input[type="time"],
input[type="email"],
input[type="number"],
input[type="datetime"],
input[type="datetime-local"],
select:focus,
textarea {
  font-size: 16px;
  color: var(--fg, initial);
  background: none;
  border: none;
  border-bottom: 2px solid var(--border-color, #ccc) !important;
}
textarea { resize: vertical; width: 100%; }

input[type="text"],
input[type="tel"],
input[type="url"],
input[type="email"],
input[type="number"],
input[type="datetime"],
input[type="datetime-local"] {
  width: 100%;
}

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

/* text size */
.xx-small { font-size: xx-small !important; }
.x-small { font-size: x-small !important; }
.small { font-size: small !important; }
.smaller { font-size: smaller !important; }
.large, .big { font-size: large !important; }
.larger, .bigger { font-size: larger !important; }

.flex { display: flex; }
.justify-around {  justify-content: space-around; }
.justify-between {  justify-content: space-between; }
.justify-evenly {  justify-content: space-evenly; }
.justify-end {  justify-content: end; }
.justify-start {  justify-content: start; }
.flex-grow-1 { flex-grow: 1; }
.flex-wrap { flex-wrap: wrap; }

.hidden { display: none; }
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/********** domain specific classes **********/

task-control {
  flex-grow: 1;
}

#lists {}

.task-list:not(:first-child) {
  border-top: 2px solid var(--border-color-dark, #bbb);
  padding-top: 2rem;
}

.task-list {
  margin-bottom: 2rem;
}

task-category:not(:first-child),
.task-category:not(:first-child) {
  margin-top: 1rem;
}
.task-category {
  border: 2px solid var(--border-color, #ccc);
  border-radius: 10px;
  padding: 0.75rem;
}
.task-list .task-list--title,
.task-category .task-category--title {
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.list--name,
.category--name {
  flex-grow: 1;
}

.task-category input[type=checkbox] { margin-right: 0; }

.task-category ul { list-style-type: none; }

task-item,
.task-item,
.task-category ul li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

task-item .grabber,
.task-item .grabber {
  padding: 0.25rem 0.5rem;
}

task-item label,
.task-item label {
  flex-grow: 1;
}

task-list .delete,
.task-list .delete,
task-category .delete,
.task-category .delete,
task-item .delete,
.task-item .delete {
  align-self: baseline;
  color: var(--red);
  cursor: pointer;
  font-weight: 600;
}

.grabber { cursor: grab; }
.dragging { cursor: grabbing; }

.zoom-in-out {
  transition: ease-in-out 0.5s all;
  animation: 1s linear 0s infinite zoom_in_out;
}

.icon {
  margin: 0;
  padding: 0;
}

.task-category-form .text-field,
.task-control .text-field {
  min-width: 80%;
  max-width: 85%;
  flex-grow: 1;
}

.field {
  margin-bottom: 0.75rem;
}
.hint {
  font-size: 0.825rem;
  padding: 0.5rem 0;
}

task-category-form,
.task-category-form,
.new-category {
  border: 2px solid var(--border-color, #ccc);
  border-radius: 10px;
  margin: 1rem 0;
  padding: 0.75rem;
}

.new-category--title {
  margin-top: 0;
}

/******* color picker *******/
.color-picker {
  --picker-padding: 2px;
  position: relative;
}

.color-picker--current {
}

.color-picker.open > .color-picker--current {
  background-color: transparent;
  border-color: transparent;
}

.color-picker.open > .color-picker--options {
  position: absolute;
  top: var(--picker-padding);
  margin-top: -1px;
  margin-left: -1px;

  display: flex;
  flex-flow: row wrap;

  height: 4rem;
  min-height: 3rem;
  width: auto;
  min-width: 12rem;

  border: 1px solid var(--border-color-dark);
  border-radius: 5px;
}
.color-picker--options {
  /* transition: all .75s ease-in-out; */
  max-height: 0;
  max-width: 0;

  overflow: hidden;
}

.color-picker--option {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin: var(--picker-padding);

  border: 2px solid rgba(127, 127, 127, 0.65);
  border-radius: 50%;
}

@keyframes zoom_in_out {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}
