:root {
  --black: #353535;
  --red: #D46A6A;
  --green: #55AA55;
  --yellow: #F1E845;
  --blue: #485492;
  --magenta: #72408F;
  --cyan: #28B8BF;
  --white: #e6e6e6;
  --black-1: #0c141f;
  --red-1: #FFAAAA;
  --green-1: #88CC88;
  --yellow-1: #FFF871;
  --blue-1: #6F79AE;
  --magenta-1: #9168AB;
  --cyan-1: #4EC5CB;
  --white-1: #e6ffff;

  --bg: var(--black);
  --bg-dark: var(--black-1);
  --fg: var(--white);
  --fg-dark: var(--white-1);
  --border-color: #CCCCCC;
  --border-color-dark: #AAAAAA;

  --danger: #D54F4F;
  --link-color: var(--yellow);

  --bottomnav-height: 4.5rem;
  --bg-navbar: #404040;

  --card-padding: 0.75rem;

  --emoticon-font-size: 1.75rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #fffae5;
    --bg-dark: var(--white-1);
    --fg: var(--black);
    --fg-dark: var(--black-1);
    --border-color: #CCCCCC;
    --border-color-dark: #AAAAAA;

    --link-color: var(--blue);
    --bg-navbar: #fff1b8;
  }
}

.color-1  { background-color: var(--black); color: var(--white); --feat-color: var(--black); }
.color-2  { background-color: var(--red); color: var(--white); --feat-color: var(--red); }
.color-3  { background-color: var(--green); color: var(--white); --feat-color: var(--green); }
.color-4  { background-color: var(--yellow); color: var(--black-1); ; --feat-color: var(--yellow); }
.color-5  { background-color: var(--blue); color: var(--white); --feat-color: var(--blue); }
.color-6  { background-color: var(--magenta); color: var(--white); --feat-color: var(--magenta); }
.color-7  { background-color: var(--cyan); color: var(--white); --feat-color: var(--cyan); }
.color-8  { background-color: var(--white); color: var(--black); --feat-color: var(--white); }
.color-9  { background-color: var(--black-1); color: var(--white-1); --feat-color: var(--black-1); }
.color-10 { background-color: var(--red-1); color: var(--black); --feat-color: var(--red-1); }
.color-11 { background-color: var(--green-1); color: var(--black-2); --feat-color: var(--green-1); }
.color-12 { background-color: var(--yellow-1); color: var(--black); --feat-color: var(--yellow-1); }
.color-13 { background-color: var(--blue-1); color: var(--white); --feat-color: var(--blue-1); }
.color-14 { background-color: var(--magenta-1); color: var(--white); --feat-color: var(--magenta-1); }
.color-15 { background-color: var(--cyan-1); --feat-color: var(--cyan-1); }
.color-16 { background-color: var(--white-1); color: var(--black); --feat-color: var(--white-1); }

body {
  background: var(--bg);
  color: var(--fg);
  font: normal 16px/20px sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.25rem 0 0.5rem;
}

h2, .h2 { font-size: 1.25rem; font-weight: 600; }
h3, .h3 { font-size: 1.125rem; font-weight: 600; }

a,
a:visited {
  color: var(--link-color, blue);
}

.no-link,
.no-link:visited {
  color: var(--fg);
  text-decoration: none;
}

ul {
  padding-left: 0.5rem;
}

dt { font-style: italic; }
dt:not(:first-child) { padding-top: 1rem; border-top: 3px dotted var(--border-color); }
dd { margin-top: 0.5rem; margin-bottom: 1rem; margin-left: 1rem; }

.pointer { cursor: pointer; }

.card {
  padding: var(--card-padding);
  border-radius: 6px;
  border: 1px solid var(--border-color-dark);
}

.card footer, .card .actions {
  padding-top: var(--card-padding);
  border-top: 1px solid var(--border-color);
}

task-list,
.task-list,
task-list-form,
.task-list-form {
  display: block;
}

#log_messages {
  overflow: scroll;
  padding: 0;
  max-height: 200px;
  border-radius: 8px;
}

.log-message {
  background-color: var(--message-bg, inherit);
  color: var(--message-fg, inherit);
  display: block;
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid var(--message-border, #aaaaaa);
  margin: 0.5rem 0;
}

.log-message--icon {
  background: var(--message-bg, var(--bg));
  animation: 5s ease-in-out 0s 1 icon_arc;
}

.log-message.error {
  --message-bg: var(--danger);
  --message-fg: var(--white);
  --message-border: var(--red);
}

#debug_messages {
  overflow: scroll;
  padding: 0;
  max-width: 95vw;
  max-height: 200px;
  box-shadow: inset 0 0 10px var(--border-color, #aaaaaa);
  border-radius: 8px;
}

#debug_messages li {
  background-color: var(--message-bg, inherit);
  color: var(--message-fg, inherit);
  padding: 0.75rem;
  margin: 0.75rem 0.5rem;
  border-radius: 8px;
  border: 1px solid var(--message-border, #aaaaaa);
}

.topnav ul li {
  list-style-type: none;
  border: 1px solid var(--link-color);
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.5rem;
}
.topnav ul li:not(:last-child) {
  margin-right: 1.75rem;
}
.topnav ul li a {
  text-decoration: none;
}

.bottomnav {
  position: fixed;
  bottom: 0;
  left: 0;
  height: var(--bottomnav-height);
  width: 100%;
  z-index: 1;

  background-color: var(--bg-navbar);
  border-top: 1px solid var(--border-color-dark);
  padding-top: 0.35rem;
  filter: drop-shadow(0.25rem 0.25rem 1rem var(--bg-navbar));
}
.bottomnav a {
  color: var(--fg);
  text-decoration: none;
}
.bottomnav svg {
  fill: var(--fg-dark);
  background: transparent;
  max-height: 1.5rem;
  max-width: 1.5rem;
}
body > footer {
  padding-bottom: 4rem; /* this should be equal to bottom nav's height */
  border-top: 1px solid var(--border-color-dark);
}

input:focus,
input:focus-visible,
select:focus,
select:focus-visible {
  outline: none;
}

/* set font size so safari does NOT zoom */
input,
input[type="tel"],
input[type="url"],
input[type="date"],
input[type="text"],
input[type="time"],
input[type="email"],
input[type="number"],
input[type="datetime"],
input[type="datetime-local"],
select:focus,
textarea {
  font-size: 16px;
  color: var(--fg, initial);
  background: none;
  border: none;
  border-bottom: 2px solid var(--border-color, #ccc) !important;
}
textarea { resize: vertical; width: 100%; }

input[type="text"],
input[type="tel"],
input[type="url"],
input[type="email"],
input[type="number"],
input[type="datetime"],
input[type="datetime-local"] {
  width: 100%;
}

.xkcd { font-family: 'xkcd'; }

.rounded { border-radius: 6px; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

/* text size */
.xx-small { font-size: xx-small !important; }
.x-small { font-size: x-small !important; }
.small { font-size: small !important; }
.smaller { font-size: smaller !important; }
.large, .big { font-size: large !important; }
.larger, .bigger { font-size: larger !important; }

.bold { font-weight: bold; }
.italic { font-style: italic; }

.flex { display: flex; }
.flex-col { display: flex; flex-direction: column; }
.justify-around { justify-content: space-around; }
.justify-between { justify-content: space-between; }
.justify-evenly { justify-content: space-evenly; }
.justify-end { justify-content: end; }
.justify-start { justify-content: start; }
.flex-grow-1 { flex-grow: 1; }
.flex-wrap { flex-wrap: wrap; }
.align-baseline { align-items: baseline; }
.align-center { align-items: center; }

.pre-line { white-space: pre-line; }

.hidden { display: none; }
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/********** domain specific classes **********/

task-control {
  flex-grow: 1;
}

#lists {}

.task-list:not(:first-child) {
  border-top: 2px solid var(--border-color-dark, #bbb);
  padding-top: 2rem;
}

.task-list {
  margin-bottom: 2rem;
}

.task-list:before {
  display: block;
  padding: 0;
  margin: -1.75rem auto 0;

  background-image: url(sticky-tape.png);
  background-repeat: no-repeat;
  width: 8rem;
  height: 2rem;
  content: '';
  transform: rotate(-4deg);
}
.task-list:nth-child(even)::before {
  transform: rotate(4deg);
}
task-list:not(:first-child),
.task-list:not(:first-child) {
  margin-top: 2rem;
}
.task-list {
  border: 2px solid var(--border-color, #ccc);
  border-radius: 10px;
  padding: 0.75rem;
}

.task-list .progress-container {
  display: none;
}

.task-list .task-list--title,
.task-list .task-list--title {
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.list--name,
.category--name {
  display: block;
  flex-grow: 1;
}
.task-list .task-list--title .icon.delete {
  display: block;
}
.task-list .task-list--title .color-picker {
  display: block;
}

.task-list input[type=checkbox] { margin-right: 0; }

.task-list ul { list-style-type: none; }

task-item,
.task-item,
.task-list ul li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

task-item .grabber,
.task-item .grabber {
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  font-size: var(--emoticon-font-size);
}

task-item label,
.task-item label {
  flex-grow: 1;
}

task-list .delete,
.task-list .delete,
task-item .delete,
.task-item .delete {
  align-self: baseline;
  color: var(--danger);
  cursor: pointer;
  font-weight: 600;
  font-size: var(--emoticon-font-size);
}

.grabber { cursor: grab; }
.dragging { cursor: grabbing; }

.zoom-in-out {
  transition: ease-in-out 0.5s all;
  animation: 1s linear 0s infinite zoom_in_out;
}

.icon {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

.task-list-form .text-field,
.task-control .text-field {
  font-family: 'xkcd';
  min-width: 80%;
  max-width: 85%;
  flex-grow: 1;
}

fieldset {
  border-radius: 2px;
}

.field {
  margin-bottom: 0.75rem;
}
.hint {
  font-size: 0.825rem;
  padding: 0.5rem 0;
}

task-list-form,
.task-list-form,
.new-category {
  border: 2px solid var(--border-color, #ccc);
  border-radius: 10px;
  margin: 1rem 0;
  padding: 0.75rem;
}

.new-category--title {
  margin-top: 0;
}

/******* color picker *******/
.color-picker {
  --picker-padding: 2px;
  position: relative;
}

.color-picker--current {
}

.color-picker.open > .color-picker--current {
  background-color: transparent;
  border-color: transparent;
}

.color-picker.open > .color-picker--options {
  position: absolute;
  top: var(--picker-padding);
  margin-top: -1px;
  margin-left: -1px;

  display: flex;
  flex-flow: row wrap;

  height: 4rem;
  min-height: 3rem;
  width: auto;
  min-width: 12rem;

  border: 1px solid var(--border-color-dark);
  border-radius: 5px;
}
.color-picker--options {
  /* transition: all .75s ease-in-out; */
  max-height: 0;
  max-width: 0;

  overflow: hidden;
}

.color-picker--option {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin: var(--picker-padding);

  border: 2px solid rgba(127, 127, 127, 0.65);
  border-radius: 50%;
}

input#import_json {
  opacity: 0;
  width: 0;
}

@keyframes zoom_in_out {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

@keyframes icon_arc {
  0% {
    position: static;
  }
  1% {
    position: fixed;
    bottom: 0;
    right: 1rem;
  }
  10% {
    position: fixed;
    transform: translateY(calc(-1 * calc(var(--bottomnav-height) + 2rem)));
  }
  50% {
    position: fixed;
    transform: scale(0.75) translateY(calc(-1 * var(--bottomnav-height)));
  }
  100% {
    position: fixed;
    transform: scale(1) translateY(calc(-1 * var(--bottomnav-height)));
  }
}

/***** margin *****/
.m-0 { margin: 0 !important; }
.m-1 { margin: 0.25rem !important; }
.m-2 { margin: 0.5rem !important; }
.m-3 { margin: 0.75rem !important; }
.m-4 { margin: 1rem !important; }

.my-0 { margin-top: 0 !important; margin-bottom: 0 !important; }
.my-1 { margin-top: 0.25rem !important; margin-bottom: 0.25rem !important; }
.my-2 { margin-top: 0.5rem !important; margin-bottom: 0.5rem !important; }
.my-3 { margin-top: 0.75rem !important; margin-bottom: 0.75rem !important; }
.my-4 { margin-top: 1rem !important; margin-bottom: 1rem !important; }
.mx-0 { margin-left: 0 !important; margin-right: 0 !important; }
.mx-1 { margin-left: 0.25rem !important; margin-right: 0.25rem !important; }
.mx-2 { margin-left: 0.5rem !important; margin-right: 0.5rem !important; }
.mx-3 { margin-left: 0.75rem !important; margin-right: 0.75rem !important; }
.mx-4 { margin-left: 1rem !important; margin-right: 1rem !important; }

.mt-0 { margin-top: 0 !important; }
.mt-1 { margin-top: 0.25rem !important; }
.mt-2 { margin-top: 0.5rem !important; }
.mt-3 { margin-top: 0.75rem !important; }
.mt-4 { margin-top: 1rem !important; }
.mr-0 { margin-right: 0 !important; }
.mr-1 { margin-right: 0.25rem !important; }
.mr-2 { margin-right: 0.5rem !important; }
.mr-3 { margin-right: 0.75rem !important; }
.mr-4 { margin-right: 1rem !important; }
.mb-0 { margin-bottom: 0 !important; }
.mb-1 { margin-bottom: 0.25rem !important; }
.mb-2 { margin-bottom: 0.5rem !important; }
.mb-3 { margin-bottom: 0.75rem !important; }
.mb-4 { margin-bottom: 1rem !important; }
.ml-0 { margin-left: 0 !important; }
.ml-1 { margin-left: 0.25rem !important; }
.ml-2 { margin-left: 0.5rem !important; }
.ml-3 { margin-left: 0.75rem !important; }
.ml-4 { margin-left: 1rem !important; }

/***** padding *****/
.p-0 { padding: 0 !important; }
.p-1 { padding: 0.25rem !important; }
.p-2 { padding: 0.5rem !important; }
.p-3 { padding: 0.75rem !important; }
.p-4 { padding: 1rem !important; }

.py-0 { padding-top: 0 !important; padding-bottom: 0 !important; }
.py-1 { padding-top: 0.25rem !important; padding-bottom: 0.25rem !important; }
.py-2 { padding-top: 0.5rem !important; padding-bottom: 0.5rem !important; }
.py-3 { padding-top: 0.75rem !important; padding-bottom: 0.75rem !important; }
.py-4 { padding-top: 1rem !important; padding-bottom: 1rem !important; }
.px-0 { padding-left: 0 !important; padding-right: 0 !important; }
.px-1 { padding-left: 0.25rem !important; padding-right: 0.25rem !important; }
.px-2 { padding-left: 0.5rem !important; padding-right: 0.5rem !important; }
.px-3 { padding-left: 0.75rem !important; padding-right: 0.75rem !important; }
.px-4 { padding-left: 1rem !important; padding-right: 1rem !important; }

.pt-0 { padding-top: 0 !important; }
.pt-1 { padding-top: 0.25rem !important; }
.pt-2 { padding-top: 0.5rem !important; }
.pt-3 { padding-top: 0.75rem !important; }
.pt-4 { padding-top: 1rem !important; }
.pr-0 { padding-right: 0 !important; }
.pr-1 { padding-right: 0.25rem !important; }
.pr-2 { padding-right: 0.5rem !important; }
.pr-3 { padding-right: 0.75rem !important; }
.pr-4 { padding-right: 1rem !important; }
.pb-0 { padding-bottom: 0 !important; }
.pb-1 { padding-bottom: 0.25rem !important; }
.pb-2 { padding-bottom: 0.5rem !important; }
.pb-3 { padding-bottom: 0.75rem !important; }
.pb-4 { padding-bottom: 1rem !important; }
.pl-0 { padding-left: 0 !important; }
.pl-1 { padding-left: 0.25rem !important; }
.pl-2 { padding-left: 0.5rem !important; }
.pl-3 { padding-left: 0.75rem !important; }
.pl-4 { padding-left: 1rem !important; }

/***** width *****/
.max-w-10r { max-width: 10rem; }
.container { margin: 0 auto; max-width: 90vw; }
.w-full { width: 100%; }

/***** height *****/
.h-full { height: 100%; }
.h-fit { height: fit-content; }

.block { display: block; }
.inline-block { display: inline-block; }
.white-space-none { white-space: none; }

/***** settings/config *****/

body.config--nav-compact {
  --bottomnav-height: 3.5rem;
}

body.config--tasks-progress task-list .progress-container {
  display: flex;
  align-items: align-center;
}

/***** fonts *****/

@font-face {
  font-family: 'xkcd';
  src: url('fonts/xkcd.otf');
  font-weight: normal;
  font-style: normal;
}
